@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
  --clr-fuchsia-50: #fdf4ff;
  --clr-fuchsia-100: #fae8ff;
  --clr-fuchsia-300: #f0abfc;
  --clr-fuchsia-600: #c026d3;
  --clr-fuchsia-700: #a21caf;
  --clr-fuchsia-800: #86198f;
  --clr-neutral-100: #f5f5f5;
  --shador-clr-gray-500: #6b7280;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container > div {
  /* border: 1px solid red; */
  padding: 15px;
}

.container{
  display: grid;
  grid-template-columns: minmax(70px, 1fr) 4fr;
  grid-template-rows: minmax(190px, 1fr) 5fr;

  font-family: "Roboto", sans-serif;
}

.dashboard{
  grid-row: 1 / 3;

  background-color: var(--clr-fuchsia-700);
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.dashboard ul:nth-child(2){
  margin: 35px 0;
}

.dashboard-header,
.dashboard ul li{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 15px;

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-neutral-100);
}

.dashboard-header svg,
li svg{
  min-width: 50px;
  height: 40px;
  fill: var(--clr-neutral-100);
}

.dashboard ul li svg{
  height: 20px;
}

.dashboard ul li a{
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 10px;
  min-width: 110px;
}

.header-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: var(--clr-fuchsia-300);
}

.header-container > div:not([class="button"]){
  display: flex;
  align-items: center;
}


.notification svg,
.search svg{
  fill: var(--clr-fuchsia-100);
  filter: drop-shadow(0 0 3px var(--shador-clr-gray-500));
  height: 25px;
}

input[type="text"]{
  width: clamp(200px, 90%, 550px);
  height: 2rem;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 0 10px;
  font-size: 1rem;

  border: none;
  background-color: var(--clr-fuchsia-100);
}

input[type="text"]:hover{
  box-shadow: 0 0 3px var(--shador-clr-gray-500)
}


input[type="text"]:focus{
  outline: 2px solid var(--clr-fuchsia-700);
}

.user-info > div{
  margin: 0 10px;
}

.user-info .user-name,
.welcome{
  color: var(--clr-fuchsia-100);
  font-weight: 600;
  line-height: 1.3;
  text-shadow: 0 0 3px var(--shador-clr-gray-500);
}

.profile-pic.small img{
  border-radius: 20px;
  border: 3px solid var(--clr-fuchsia-700);
  height: 40px;
  width: 40px;
}

.profile-pic.big img{
  border-radius: 40px;
  border: 5px solid var(--clr-fuchsia-700);
  height: 80px;
  width: 80px;
}

.welcome p{padding: 0 20px;}

.welcome p:last-child{
  font-size: 1.3rem;
}

.button{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button button{
  background-color: var(--clr-fuchsia-700);
  color: var(--clr-fuchsia-100);
  width: 100px;
  font-size: 1.2rem;
  font-weight: 600;

  padding: 6px;
  margin: 5px;
  border: none;
  border-radius: 25px;
  flex-grow: 1;
}

.button button:hover{
  top: 1px;
  border-bottom-width: 3px;
  margin-bottom: 1px;

  border: 2px solid var(--clr-fuchsia-100);
  cursor: pointer;
  background-color: var(--clr-fuchsia-600);
}

.button button:active{
  top: 2px;
  border-bottom-width: 2px;
  margin-bottom: 1px;
  background-color: var(--clr-fuchsia-800);
}

.main-content{
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--clr-fuchsia-100);
}

.card-container{
  grid-row: 1 / span 3;
}

@media only screen and (max-width: 700px) {
  .dashboard{
    padding: auto;
  }
  .dashboard-header p,
  .dashboard ul li a{
    display: none;
  }

  .dashboard-header svg,
  .dashboard ul li svg{
    min-width: 40px;
    margin: 5px 0;
    flex-grow: 1;
  }

  li svg{
    height: 35px;
  }
}